[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-crontab = "*"
django-database-url = "*"
cryptography = "*"
psycopg2 = "*"
pyyaml = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
cchardet = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
